#farmList {

  ion-card{
    border: 1px solid black;
    // border-radius: 10px;
  }
    ion-item {
      display: flex;
      padding: 10px;
    }
  
    ion-label{
      margin-left: 10px;
    }
  }