<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Operator Block Timings
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div style="text-align: center;margin-top: 10px;">


    <ion-button *ngIf="valveDetails?.instruction && !valveDetails?.actual_start_time" size="small" fill="clear"
      (click)="startValve(1)">Start
      Valve</ion-button>

    <ion-button *ngIf="valveDetails?.instruction && valveDetails?.actual_start_time && !valveDetails?.actual_stop_time"
      size="small" fill="clear" (click)="stopValve(2)">Stop
      Valve</ion-button>

    <ion-button *ngIf="valveDetails?.instruction && valveDetails?.actual_start_time && !valveDetails?.actual_stop_time"
      size="small" fill="clear" (click)="confirmReport(3)">Report</ion-button>

    <ion-button *ngIf="valveDetails?.interruption_reason && !valveDetails?.interruption_resume" size="small"
      fill="clear" color="secondary" (click)="resumeValve(4)">Resume Valve
    </ion-button>

    <ion-button
      *ngIf="valveDetails?.interruption_reason && valveDetails?.interruption_resume && !valveDetails?.interruption_stop"
      size="small" fill="clear" (click)="stopValve(2)">Stop Valve
    </ion-button>
  </div>

  <ion-card style="margin-top: 10px;">

    <ion-card-header>
      <ion-card-title>Valve Status -

        <span *ngIf="!valveDetails?.instruction">
          Instructions not assigned
        </span>

        <span *ngIf="valveDetails?.instruction && !valveDetails?.actual_start_time">
          Not started yet
        </span>

        <span *ngIf="valveDetails?.instruction && valveDetails?.actual_start_time && !valveDetails?.actual_stop_time">
          In progress
        </span>

        <span *ngIf="valveDetails?.interruption_reason && !valveDetails?.interruption_resume">
          On halt
        </span>

        <span
          *ngIf="valveDetails?.interruption_reason && valveDetails?.interruption_resume && !valveDetails?.interruption_stop">
          Resumed, in progress
        </span>

        <span *ngIf="valveDetails?.interruption_reason && valveDetails?.interruption_stop">
          Completed
        </span>

        <span
          *ngIf="!valveDetails?.interruption_reason && valveDetails?.actual_start_time && valveDetails?.actual_stop_time">
          Completed
        </span>

      </ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>Started at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.actual_start_time ? valveDetails?.actual_start_time : '-'" readonly>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Stopped at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.actual_stop_time ? valveDetails?.actual_stop_time : '-'" readonly>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Interruption Reason:</ion-label>
      <ion-input type="text" readonly [value]="valveDetails?.interruption_reason | titlecase"></ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Resumed at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.interruption_resume ? valveDetails?.interruption_resume : '-'"
        readonly>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Stopped at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.interruption_stop ? valveDetails?.interruption_stop : '-'" readonly>
      </ion-input>
    </ion-item>
  </ion-card>
</ion-content>