<ion-header>
  <ion-toolbar>
    <ion-title>Assign Company</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Select Company</ion-label>
      <ion-select #val>
        <ion-select-option *ngFor="let company of companiesList" [value]="company.id">{{company?.company_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <div style="text-align: center; margin-top: 5px;">
        <ion-button *ngIf="modeType === 1" (click)="openDetails(user.id, 1)" size="small">
          Assign
        </ion-button>

        <ion-button *ngIf="modeType === 1" (click)="openDetails(user.id, 2)" size="small">
          Change
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>