<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding:8px;">
      Dashboard
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon name="power"></ion-icon>
      <ion-button (click)="logoutAlert()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="topDiv">
    <ion-label>Instruction {{currentDate | date}}</ion-label>
  </div>
  <div id="tblDiv">
    <table>
      <tr>
        <th>Block</th>
        <th>Hours</th>
        <th>Open</th>
        <th>Close</th>
        <th>Interruption</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let block of blocksArray; trackBy: testFn">

        <td>{{block?.block_name | titlecase}}</td>

        <td>
          <div *ngIf="!block?.instruction">-</div>

          <div *ngIf="block?.instruction" class="progress">
            {{block?.instruction}}
          </div>
        </td>

        <td>
          <div *ngIf="!block?.actual_start_time" class="danger">-</div>

          <div *ngIf="block?.actual_start_time" class="success">
            {{block?.actual_start_time}}
          </div>
        </td>

        <td>

          <div *ngIf="!block?.actual_start_time && !block?.actual_stop_time" class="danger">-</div>

          <div *ngIf="block?.actual_start_time && !block?.actual_stop_time" class="progress">
            {{block?.expected_stop_time}}
          </div>

          <div *ngIf="block?.actual_start_time && block?.actual_stop_time && block?.onTime && !block?.interruption_stop"
            class="success">
            {{block?.actual_stop_time}}
          </div>

          <div
            *ngIf="block?.actual_start_time && block?.actual_stop_time && !block?.onTime && !block?.interruption_stop"
            class="danger">
            {{block?.actual_stop_time}}
          </div>

          <div *ngIf="block?.actual_stop_time && block?.interruption_reason && block?.interruption_stop" class="danger">
            {{block?.interruption_stop}}
          </div>
          <!--
          <div *ngIf="block?.actual_start_time && !block?.actual_stop_time" [ngStyle]="{'background': 'yellow'}">
            {{block?.expected_stop_time ? block?.expected_stop_time : '-'}}
          </div>
  
          <div *ngIf="!block?.actual_start_time" [ngStyle]="{'background': 'red', 'padding': '5px'}">
            {{block?.expected_stop_time ? block?.expected_stop_time : '-'}}
          </div> -->
        </td>

        <!-- <td [ngStyle]="{'background': block?.actual_start_time ? '#3efa00c7' : 'red'}">
          {{block?.actual_start_time ? block?.actual_start_time : '-'}}</td>
  
        <td *ngIf="!block?.actual_start_time && !block?.actual_stop_time" [ngStyle]="{'background': 'red'}">
          {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}
        </td>
  
        <td *ngIf="!block?.actual_stop_time && block?.expected_stop_time" [ngStyle]="{'background': 'yellow'}">
          {{block?.expected_stop_time ? block?.expected_stop_time : '-'}}</td>
  
        <td *ngIf="block?.actual_stop_time && block?.onTime === true" [ngStyle]="{'background': '#3efa00c7'}">
          {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}</td>
  
        <td *ngIf="block?.actual_stop_time && block?.onTime === false" [ngStyle]="{'background': 'red'}">
          {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}</td> -->

        <td>
          <div *ngIf="block?.interruption_reason" class="progress">
            {{block?.interruption_reason}}
          </div>

          <div *ngIf="!block?.interruption_reason">- </div>
        </td>

        <td>
          <ion-button [disabled]="!block?.operator" size="small" fill="clear"
            (click)="viewValves(block.id, block.latitude, block.longitude)">View
          </ion-button>
        </td>

      </tr>
    </table>
  </div>

  <ion-infinite-scroll *ngIf="infinteLoad" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>