<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding:8px;">
      Dashboard
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openProfilePage()">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="header-title">Farms List</ion-label>
  <div id="compList">
    <ion-card *ngFor="let farm of farmsList">
      <ion-item lines="none">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Farm Name : {{farm.farm_name}}</ion-label>
        <ion-button (click)="viewBlocks(farm.id)" size="small" fill="clear">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

  </div>
</ion-content>