<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="companies">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>My Companies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="supervisors">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Supervisors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="operators">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>My Operators</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="document-attach-outline"></ion-icon>
      <ion-label>My Reports</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>