<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="instructions">
      <ion-icon name="time"></ion-icon>
      <ion-label>Instrutions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="companies">
      <ion-icon name="business"></ion-icon>
      <ion-label>Companies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="supervisors">
      <ion-icon name="person"></ion-icon>
      <ion-label>Supervisors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="operators">
      <ion-icon name="people"></ion-icon>
      <ion-label>Operators</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>