<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Companies
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCompanyDialog()">
        <ion-icon slot="start" name="add-outline"></ion-icon>Company
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="compList">
    <ion-item *ngFor="let company of companiesList" lines="none">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>{{company.company_name}}</ion-label>
      <ion-button (click)="openCompanyDialog(company.company_name, company.id)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="viewCompany(company.id)">
        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="assignSupervisor(company.id)">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>