ion-card{
    background: #e8e8e8;
    box-shadow: none;
}

ion-card ion-icon{
    color:#1f4e79;
    margin-right:5px;
}
ion-item{
    font-size: 16px;
    font-weight: 600;
    --background:transparent;
}
ion-button{
    background: #1f4e79;
    color: #ffffff;
    border-radius: 4px;
    margin-left: auto;
    display: block;
}


.footer-btn{
    display:flex;
    padding: 0 8px;
  }
  