<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Supervisor Blocks
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let block of blocksList">

    <ion-item lines="none">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Block Name :{{block.block_name}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Hectares :{{block.hectares}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Operator : {{block.operator}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="color-fill-outline"></ion-icon>
      <ion-label>Irrigation : {{block.irrigation}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-button fill="clear" (click)="viewValves(block.id)">Check Valves</ion-button>
    </ion-item>

  </ion-card>


</ion-content>