<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Block Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hours</ion-label>
    <ion-select [(ngModel)]="valveTime">
      <ion-select-option *ngFor="let hours of [1,2,3,4,5,6,7,8,9,10];let i=index" [value]="i+1">{{i+1}}
      </ion-select-option>
    </ion-select>
    <ion-label>Minutes</ion-label>
    <ion-select [(ngModel)]="valveTime">
      <ion-select-option *ngFor="let hours of [2,4,6,8,10];let i=index" [value]="i+1">{{i+1}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Start time</ion-label>
    <ion-datetime displayFormat="h:mm a" [(ngModel)]="startTime"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Stop time</ion-label>
    <ion-datetime displayFormat="h:mm a" [(ngModel)]="endTime" readonly></ion-datetime>
  </ion-item>

  <div style="text-align: center;margin-top: 10px;">
    <ion-button *ngIf="!valveDetails?.instruction" size="small" fill="clear"
      (click)="assignTime(valveTime, startTime, endTime)">Assign
      time</ion-button>
    <ion-button *ngIf="valveDetails?.instruction && !valveDetails?.actual_start_time" size="small" fill="clear"
      (click)="presentAlertConfirm(valveTime, startTime, endTime)">Update
      time</ion-button>

    <ion-button *ngIf="valveDetails?.instruction && !valveDetails?.actual_start_time" size="small" fill="clear"
      (click)="startValve()">Start
      Valve</ion-button>

    <ion-button *ngIf="valveDetails?.instruction && valveDetails?.actual_start_time && !valveDetails?.actual_stop_time"
      size="small" fill="clear" (click)="stopValve()">Stop
      Valve</ion-button>

    <ion-button *ngIf="valveDetails?.instruction && valveDetails?.actual_start_time && !valveDetails?.actual_stop_time"
      size="small" fill="clear" (click)="confirmReport()">Report</ion-button>

    <ion-button *ngIf="valveDetails?.interruption_reason && !valveDetails?.interruption_resume" size="small"
      fill="clear" color="secondary" (click)="resumeValve()">Resume Valve
    </ion-button>

    <ion-button
      *ngIf="valveDetails?.interruption_reason && valveDetails?.interruption_resume && !valveDetails?.interruption_stop"
      size="small" fill="clear" (click)="stopValve()">Stop Valve
    </ion-button>
  </div>

  <ion-card *ngIf="valveDetails?.instruction_start_time" style="margin-top: 10px;">
    <!-- <div style="text-align: center;">
      <ion-label>Valve Details</ion-label>
    </div> -->
    <ion-card-header>
      <ion-card-title>Valve Details</ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>Started at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.actual_start_time ? valveDetails?.actual_start_time : '-'" readonly>
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Stopped at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.actual_stop_time ? valveDetails?.actual_stop_time : '-'" readonly>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Interruption Reason:</ion-label>
      <ion-input type="text" [value]="valveDetails?.interruption_reason | titlecase" readonly>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Resumed at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.interruption_resume ? valveDetails?.interruption_resume : '-'"
        readonly>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="valveDetails?.interruption_reason" lines="none">
      <ion-label>Stopped at:</ion-label>
      <ion-input type="text" [value]="valveDetails?.interruption_stop ? valveDetails?.interruption_stop : '-'" readonly>
      </ion-input>
    </ion-item>
  </ion-card>
</ion-content>