<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="supContainer">
    <table>
      <tr>
        <td>Full Name</td>
        <td> : </td>
        <td>{{fullName}}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td> : </td>
        <td>{{phone}}</td>
      </tr>
    </table>
    <ion-button class="editBtn" (click)="openSupervisorDialog()" fill="clear">
      <ion-label color="dark">Edit</ion-label>
    </ion-button>
    <ion-button color="dark" expand="full" class="rstBtn" (click)="resetPassword()">Reset Password</ion-button>
  </ion-card>
</ion-content>