<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instructions
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="topDiv">
    Instruction {{currentDate | date}}
  </div>

  <table>
    <tr>
      <th>Block</th>
      <th>Hours</th>
      <th>Open</th>
      <th>Close</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let block of blocksArray">

      <td>{{block?.block_name | titlecase}}</td>

      <td [ngStyle]="{'background': block?.instruction ? 'yellow' : ''}">
        {{block?.instruction ? block?.instruction : '-'}}</td>

      <td [ngStyle]="{'background': block?.actual_start_time ? '#3efa00c7' : 'red'}">
        {{block?.actual_start_time ? block?.actual_start_time : '-'}}</td>

      <td *ngIf="!block?.actual_start_time && !block?.actual_stop_time" [ngStyle]="{'background': 'red'}">
        {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}
      </td>

      <td *ngIf="!block?.actual_stop_time && block?.expected_stop_time" [ngStyle]="{'background': 'yellow'}">
        {{block?.expected_stop_time ? block?.expected_stop_time : '-'}}</td>

      <td *ngIf="block?.actual_stop_time && block?.onTime === true" [ngStyle]="{'background': '#3efa00c7'}">
        {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}</td>

      <td *ngIf="block?.actual_stop_time && block?.onTime === false" [ngStyle]="{'background': 'red'}">
        {{block?.actual_stop_time ? block?.actual_stop_time : '-'}}</td>

      <td>
        <ion-button size="small" fill="clear" [routerLink]="['/home/instructions/blocktimings/', block?.id, block?.operator]">View
        </ion-button>
      </td>

    </tr>
  </table>
</ion-content>