ion-list {  
    &.list-ios {  
        margin-bottom: 0;  
    }  

    padding: 10px;
}  

ion-list ion-item{
    margin-bottom: 10px;
    font-weight: 600;
    color: #1f4e79 !important;
}

ion-list ion-item ion-icon{
    margin-right: 10px;
    color: #1f4e79 !important;
}