<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" (click)="dismissModal()" name="close-circle" class="button_close"></ion-icon>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">

      <ion-item class="form-group" lines="none">
        <ion-label class="form-control" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <span class="sp"
        *ngIf="resetPasswordForm.controls.password.hasError('required') && resetPasswordForm.controls.password.touched">
        Password is required!</span>

      <ion-item class="form-group" lines="none">
        <ion-label class="form-control" position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <span class="sp"
        *ngIf="resetPasswordForm.controls.confirmPassword.hasError('required') && resetPasswordForm.controls.confirmPassword.touched">Confirm
        Password is required!</span>
      <span class="sp" *ngIf="resetPasswordForm.controls.confirmPassword.hasError('mustMatch') ">Confirm
        Password do not match</span>

      <ion-item lines="none" style="margin-top: 20px;">
        <ion-button expand="block" expand="full" fill="solid" [disabled]="!resetPasswordForm.valid" type="submit"
          class="crtacc">Submit
        </ion-button>
      </ion-item>
    </form>
  </ion-item-group>

</ion-content>